* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue';
}

nav {
    
    background-color: black;
    display: flex;
    justify-content: end;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    color: white;
    padding: 20px;
    text-decoration: none;
}

nav li a:hover {
    background-color: hotpink;
    transition: 2s;

}
.dropdown-menu {
    position: absolute;
    box-shadow: 0 0 2px hotpink;
    display: none;
}

.dropdown-menu a {
    display: block;
    color: white;
    background-color: black;
    
}

.dropdown:hover .dropdown-menu {
    display: block;
}